<div>
    <h2 data-translate="linkguardianApp.link.home.title">Links</h2>
    <jhi-alert></jhi-alert>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="link.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="linkguardianApp.link.home.createLabel">
                        Create new Link
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'linkguardianApp.link.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
    <div class="table-responsive table-bordered">
        <table class="jh-table table table-striped table-hover table-condensed">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="creationDate"><span data-translate="linkguardianApp.link.creation_date">Creation Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="linkguardianApp.link.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="domain"><span data-translate="linkguardianApp.link.domain">Domain</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="locked"><span data-translate="linkguardianApp.link.locked">Locked</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="note"><span data-translate="linkguardianApp.link.note">Note</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="read"><span data-translate="linkguardianApp.link.read">Read</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="title"><span data-translate="linkguardianApp.link.title">Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="url"><span data-translate="linkguardianApp.link.url">Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="originalUrl"><span data-translate="linkguardianApp.link.original_url">Original Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="user.login"><span data-translate="linkguardianApp.link.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="link in vm.links track by link.id">
                    <td><a ui-sref="link-detail({id:link.id})">{{link.id}}</a></td>
                    <td>{{link.creation_date | date:'medium'}}</td>
                    <td>{{link.description}}</td>
                    <td>{{link.domain}}</td>
                    <td>{{link.locked}}</td>
                    <td>{{link.note}}</td>
                    <td>{{link.read}}</td>
                    <td>{{link.title}}</td>
                    <td style="min-width: 200px;">
                        <a href="{{link.url}}">{{link.url  | characters:12}}...</a>
                        <md-button class="md-fab md-raised md-mini" ngclipboard data-clipboard-text="{{link.url}}">
                            <span class="ion-ios-copy" data-pack="default" data-tags="sort"></span>
                        </md-button>
                    </td>
                    <td style="min-width: 200px;">
                        <a href="{{link.original_url}}">{{link.original_url  | characters:12}}...</a>
                        <md-button class="md-fab md-raised md-mini" ngclipboard data-clipboard-text="{{link.original_url}}">
                            <span class="ion-ios-copy" data-pack="default" data-tags="sort"></span>
                        </md-button>
                    </td>
                    <td>
                        {{link.user.login}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container audit-item-action-container">
                            <button type="submit"
                                    ui-sref="link-detail({id:link.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="link.edit({id:link.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="link.delete({id:link.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
