<div class="container">
    <h2>Mail</h2>
    <div class="row" style="margin-bottom: 10px;">
        <input type="text" data-ng-model="vm.mail_title" style="width: 100%; font-weight: normal;" placeholder="Mail subject"/>
    </div>
    <div class="row">
        <textarea data-ng-model="vm.mail_content" style="width: 100%; font-size: 16px; color : rgb(51, 51, 51); font-weight: normal;" rows="10" placeholder="Put the content of your mail here, without Dear xxx, and without Signature..."/>
    </div>

    <div class="row pull-right">
        <md-button ng-disabled="vm.in_progress" class="md-raised" ng-click="vm.sendToAdmin()">Send to admin</md-button>
        <md-button ng-disabled="vm.in_progress" class="md-raised md-warn" ng-click="vm.sendToAll()">Send to all active users</md-button>
    </div>
</div>
