<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="parent">
<head>
    <title th:text="#{email.batch_finished.title}">Linkguardian bookmark import</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div layout:fragment="content">
    <p th:text="#{email.batch.finished.greeting(${user.login})}">
        Dear
    </p>
    <p th:text="#{email.batch.finished.text1}">
        Your bookmarks have been imported.
    </p>
    <p>
        <span th:text="#{email.batch.finished.text2}">You are now able to manage them on Linkguardian.</span>
        <br/>
    </p>
    <p>
        <span th:text="#{email.batch.finished.text3}">Regards, </span>
        <br/>
        <em th:text="#{email.signature}">Linkguardian Team.</em>
    </p>
</div>
</body>
</html>
