<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="org.hibernate.SQL" level="WARN"/>
    <logger name="org.hibernate.type.descriptor.sql" level="WARN"/>

    <logger name="javax.activation" level="WARN"/>
    <logger name="javax.mail" level="WARN"/>
    <logger name="javax.xml.bind" level="WARN"/>
    <logger name="ch.qos.logback" level="WARN"/>
    <logger name="com.codahale.metrics" level="WARN"/>
    <logger name="com.netflix" level="WARN"/>
    <logger name="com.netflix.discovery" level="INFO"/>
    <logger name="com.ryantenney" level="WARN"/>
    <logger name="com.sun" level="WARN"/>
    <logger name="com.zaxxer" level="WARN"/>
    <logger name="io.undertow" level="WARN"/>
    <logger name="io.undertow.websockets.jsr" level="ERROR"/>
    <logger name="org.ehcache" level="WARN"/>
    <logger name="org.apache" level="WARN"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.bson" level="WARN"/>
    <logger name="org.elasticsearch" level="WARN"/>
    <logger name="org.hibernate.validator" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.web" level="INFO"/>
    <logger name="org.springframework.security" level="INFO"/>
    <logger name="org.springframework.cache" level="WARN"/>
    <logger name="org.thymeleaf" level="WARN"/>
    <logger name="org.xnio" level="WARN"/>
    <logger name="springfox" level="WARN"/>
    <logger name="sun.rmi" level="WARN"/>
    <logger name="liquibase" level="WARN"/>
    <logger name="LiquibaseSchemaResolver" level="INFO"/>
    <logger name="sun.rmi.transport" level="WARN"/>

    <!-- https://logback.qos.ch/manual/configuration.html#shutdownHook and https://jira.qos.ch/browse/LOGBACK-1090 -->
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

     <!--<springProfile name="!prod">-->
    <!--<logger name="org.hibernate.SQL" level="DEBUG"/>-->
    <!--<logger name="org.hibernate.type.descriptor.sql" level="TRACE"/>-->
     <!--</springProfile>-->

    <springProfile name="prod">
        <appender name="FILE-PROD" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/prod/linkguardian.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>90</maxHistory>
            </rollingPolicy>
            <encoder>
                <charset>utf-8</charset>
                <Pattern>%d %-5level [%thread] %logger{0}: %msg%n</Pattern>
            </encoder>
        </appender>
        <appender name="MAILER-PROD" class="ch.qos.logback.classic.net.SMTPAppender">
            <smtpHost>ns0.ovh.net</smtpHost>
            <smtpPort>587</smtpPort>
            <STARTTLS>true</STARTTLS>
            <username>linkguardian@blackdog-project.org</username>
            <password>2U6GDpf24iqDWtWw7Ayi</password>
            <from>linkguardian@blackdog-project.org</from>
            <to>alexis.rt.paris@gmail.com</to>
            <subject>[PROD] ERROR: %logger{20} - %m</subject>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%date %-5level %logger - %msg%n</pattern>
            </layout>
        </appender>
        <root level="INFO">
            <appender-ref ref="FILE-PROD" />
            <appender-ref ref="MAILER-PROD" />
        </root>
    </springProfile>
    <springProfile name="inte">
        <appender name="FILE-INT" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>logs/inte/linkguardian-integration.%d{yyyy-MM-dd}.log</fileNamePattern>
                <maxHistory>1</maxHistory>
            </rollingPolicy>
            <encoder>
                <charset>utf-8</charset>
                <Pattern>%d %-5level [%thread] %logger{0}: %msg%n</Pattern>
            </encoder>
        </appender>
        <appender name="MAILER-INT" class="ch.qos.logback.classic.net.SMTPAppender">
            <smtpHost>ns0.ovh.net</smtpHost>
            <smtpPort>587</smtpPort>
            <STARTTLS>true</STARTTLS>
            <username>linkguardian@blackdog-project.org</username>
            <password>2U6GDpf24iqDWtWw7Ayi</password>
            <from>linkguardian@blackdog-project.org</from>
            <to>alexis.rt.paris@gmail.com</to>
            <subject>[INTE] ERROR: %logger{20} - %m</subject>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%date %-5level %logger - %msg%n</pattern>
            </layout>
        </appender>
        <root level="DEBUG">
            <appender-ref ref="FILE-INT" />
            <appender-ref ref="MAILER-INT" />
        </root>
    </springProfile>

</configuration>
