<div>
    <h2 data-translate="linkguardianApp.bookmarkBatchItem.home.title">Bookmark Batch Items</h2>
    <jhi-alert></jhi-alert>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="bookmark-batch-item.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span class="hidden-xs-down"  data-translate="linkguardianApp.bookmarkBatchItem.home.createLabel">
                        Create new Bookmark Batch Item
                    </span>
                </button>
            </div>
            <div class="col-xs-8 no-padding-right">
                <form name="searchForm" class="form-inline">
                    <div class="input-group pull-right" >
                        <input type="text" class="form-control" ng-model="vm.searchQuery" id="searchQuery" placeholder="{{ 'linkguardianApp.bookmarkBatchItem.home.search' | translate }}">
                        <span  class="input-group-btn width-min" >
                            <button class="btn btn-info" ng-click="vm.search(vm.searchQuery)">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                        <span class="input-group-btn width-min" ng-if="vm.currentSearch">
                            <button class="btn btn-info" ng-click="vm.clear()">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive table-bordered">
        <table class="jh-table table table-striped table-hover table-condensed">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="url"><span data-translate="linkguardianApp.bookmarkBatchItem.url">Url</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="tags"><span data-translate="linkguardianApp.bookmarkBatchItem.tags">Tags</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="linkCreationDate"><span data-translate="linkguardianApp.bookmarkBatchItem.link_creation_date">Link Creation Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="status"><span data-translate="linkguardianApp.bookmarkBatchItem.status">Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="errorMsgCode"><span data-translate="linkguardianApp.bookmarkBatchItem.error_msg_code">Error Msg Code</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="bookmarkBatchItem in vm.bookmarkBatchItems track by bookmarkBatchItem.id">
                    <td><a ui-sref="bookmark-batch-item-detail({id:bookmarkBatchItem.id})">{{bookmarkBatchItem.id}}</a></td>
                    <td style="min-width: 250px;">
                        <a href="{{bookmarkBatchItem.url}}">{{bookmarkBatchItem.url  | characters:22}}...</a>
                        <md-button class="md-fab md-raised md-mini" ngclipboard data-clipboard-text="{{bookmarkBatchItem.url}}">
                            <span class="ion-ios-copy" data-pack="default" data-tags="sort"></span>
                        </md-button>
                    </td>
                    <td>{{bookmarkBatchItem.tags}}</td>
                    <td>{{bookmarkBatchItem.link_creation_date | date:'medium'}}</td>
                    <td data-translate="{{'linkguardianApp.BookmarkBatchItemStatus.' + bookmarkBatchItem.status}}">{{bookmarkBatchItem.status}}</td>
                    <td>{{bookmarkBatchItem.error_msg_code}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container audit-item-action-container">
                            <button type="submit"
                                    ui-sref="bookmark-batch-item-detail({id:bookmarkBatchItem.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bookmark-batch-item.edit({id:bookmarkBatchItem.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="bookmark-batch-item.delete({id:bookmarkBatchItem.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
