<md-toast md-theme="{{ toast.theme }}" ng-class="{'md-capsule': toast.capsule}">
    <div class="md-toast-content">
        <span flex role="alert" aria-relevant="all" aria-atomic="true" layout="row" layout-align="start center">
            <md-progress-circular md-mode="indeterminate"
                                  class="md-hue-2a"
                                  md-diameter="30px"></md-progress-circular>&nbsp;
                    {{ toast.content }}
        </span>
        <md-button class="md-action" ng-if="toast.action" ng-click="toast.resolve()"
            ng-class="{'md-highlight': toast.highlightAction}"> {{ toast.action }}    </md-button>
    </div>
</md-toast>
