$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$background-color : #f3f3f3;//#E7DED4;
$navbar-color : #3A99D8;
$main-button-color : #354458;
$main-button-hover-color : #253448;
$brand-color : white;
$link-read-color : #f1f1f1;
$link-unread-color : white;
$error-color : #EB7260;
$success-color : #354458;
$file-upload-button-color : $navbar-color;
